$primary-yellow: #fab222;
$primary-green: #417533;
$secondary-green: #3b6630;
$primary-red: #8d2516;
$hover-yellow: #e4a21d;
$color-dark: #120000;
$white: #ffffff;
$light-gray: #737373;
$text-dark: #151515;
$font-family: "Inter", sans-serif;

@mixin cover-background($url) {
  background: url($url) no-repeat center center/cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background-image {
  @include cover-background("/assets/img/background-food-vector.svg");
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
  font-family: $font-family;
  font-weight: 500;
}

ion-content {
  position: relative;
  z-index: 1;
  --background: transparent;
  display: block;
  width: 100%;
}

button {
  border: 3px solid $color-dark;
  background: #{$primary-yellow};
  border-radius: 40px;
  width: 35%;
  padding: 10px 0px;
  color: $primary-red;
  font-size: 20px;
  font-family: $font-family;
  font-weight: 700;
}

button:hover {
  background: #{$primary-red};
  color: $primary-yellow;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  ion-icon {
    color: $primary-yellow;
  }
}

.btn-back {
  gap: 10px;
  display: flex;
  margin-top: 15px;
  align-items: center;
  margin-bottom: 0px;
  background-color: transparent;
  border: none;
  width: 40%;
  flex-direction: row;
  justify-content: flex-start;

  p {
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 700;
    font-family: $font-family;
  }
}

.btn-back:hover {
  background-color: transparent;
  color: $hover-yellow;
  box-shadow: none;
}

.main-container-cart {
  padding: 1em 2em;
  height: 100%;

  .logo-container {
    margin-top: 1em;
    margin-bottom: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 11em;
      height: auto;
      object-fit: contain;
    }
  }

  .cart-title {
    text-align: center;
    font-size: 1.8em;
    font-weight: 900;
    font-family: $font-family;
    color: $text-dark;
    margin-bottom: 10px;
  }

  .header-cart-order {
    display: flex;
    justify-content: space-between;
    height: 3em;
    align-items: center;
    margin-bottom: 2em;
  }

  .empty-cart-btn {
    width: 10em;
    border-radius: 10px;
    padding: 10px;
    height: auto;
    font-size: 15px;
    font-family: $font-family;
    font-weight: 700;
  }

  .empty-cart {
    text-align: center;
    color: #999;
    font-style: italic;
    margin-top: 2em;
  }

  .cart-list {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }

  .cart-item {
    display: flex;
    align-items: center;
    background: $white;
    border-radius: 10px;
  }

  .thumbnail {
    display: flex;
    width: 60px;
    height: 60px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  .item-label {
    flex-grow: 1;
    padding: 0 1em;

    h2 {
      margin: 0;
      font-size: 1em;
      font-family: $font-family;
      font-weight: 700;
      color: $text-dark;
    }

    p {
      margin: 0;
      font-size: 0.9em;
      color: $light-gray;
    }
  }

  .quantity-controls {
    display: flex;
    align-items: center;
    gap: 0.5em;

    button {
      background-color: $primary-red;
      color: $white;
      border: 2px solid $color-dark;
      padding: 0.3em 0.5em;
      border-radius: 8px;
    }

    span {
      min-width: 2em;
      text-align: center;
    }
  }
}

.cart-summary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 0 4em 0;
  border-radius: 10px;
  background: transparent;

  .summary-left {
    display: flex;
    flex-direction: column;

    .summary-title {
      font-family: $font-family;
      font-size: 1em;
      font-weight: 600;
      color: $text-dark;
    }

    .summary-amount {
      font-size: 1.8em;
      font-family: $font-family;
      font-weight: 900;
      color: $primary-red;
    }
  }

  .summary-right {
    display: flex;

    .checkout-btn {
      padding: 0.7em 1em;
      border-radius: 5px;
      width: 100%;
      font-weight: bold;
      background-color: $primary-red;
      color: $white;
    }
  }
}
