$primary-yellow: #fab222;
$primary-green: #417533;
$secondary-green: #3b6630;
$primary-red: #8d2516;
$hover-yellow: #e4a21d;
$color-dark: #120000;
$white: #ffffff;
$light-gray: #737373;
$text-dark: #151515;
$font-family: "Inter", sans-serif;

.product-card-container {
  display: flex;
  background-color: #f0ebeb;
  height: 18em;
  width: 100%;
  border: 3px solid $color-dark;
  border-radius: 20px;
  padding: 15px 10px;
  flex-direction: column;
}

.image-product-container {
  display: flex;
  background-color: #d9d9d9;
  min-height: 8em;
  border-radius: 20px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-product-container {
  display: flex;
  padding: 12px 10px 0px 10px;
  justify-content: center;
  line-height: 1.1;
  text-align: center;
  font-family: $font-family;
  font-size: 17px;
  color: $secondary-green;
  font-weight: 900;
  height: 4.2em;
  border-radius: 40px;
  width: 100%;
}

.product-subcontainer {
  display: flex;
  gap: 5px;
  height: 3em;
  border-radius: 40px;
  width: 100%;
}

.price-container {
  display: flex;
  background-color: #d9d9d9;
  height: 3em;
  padding: 5px;
  line-height: 1.1;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: $font-family;
  font-size: 15px;
  font-weight: 900;
  width: 70%;
  border-radius: 20px;
  width: 100%;
}

.add-product {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #417533;
  border: 3px solid $text-dark;
  border-radius: 50px;
  font-size: 20px;
  padding: 0px;
  width: 55%;

  ion-icon {
    color: #f0f0f0;
    font-size: 30px;
  }
}

.add-product:hover {
  background-color: #3b6630;
  ion-icon {
    color: #f0f0f0;
  }
}
