$primary-yellow: #fab222;
$primary-green: #417533;
$secondary-green: #3b6630;
$primary-red: #8d2516;
$hover-yellow: #e4a21d;
$color-dark: #120000;
$white: #ffffff;
$light-gray: #737373;
$text-dark: #151515;
$font-family: "Inter", sans-serif;

.cargando-content {
  --background: url("/assets/img/background-red-static.svg") no-repeat center
    center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.cargando-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.gif-container img {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
}

.text-container p {
  font-size: 1.2rem;
  font-weight: bold;
  color: $primary-yellow;
  font-family: $font-family;
  text-align: center;
  margin-top: 20px;
}
