$primary-yellow: #fab222;
$primary-green: #417533;
$secondary-green: #3b6630;
$primary-red: #8d2516;
$hover-yellow: #e4a21d;
$color-dark: #120000;
$white: #ffffff;
$light-gray: #737373;
$text-dark: #151515;
$font-family: "Inter", sans-serif;

@mixin cover-background($url) {
  background: url($url) no-repeat center center/cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background-image {
  @include cover-background("/assets/img/background-food-vector.svg");
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
  font-family: $font-family;
  font-weight: 500;
}

ion-content {
  position: relative;
  z-index: 1;
  --background: transparent;
  display: block;
  width: 100%;
}

button {
  border: 3px solid $color-dark;
  background: #{$primary-yellow};
  border-radius: 40px;
  width: 35%;
  padding: 10px 0px;
  color: $primary-red;
  font-size: 20px;
  font-family: $font-family;
  font-weight: 700;
}

button:hover {
  background: #{$primary-red};
  color: $primary-yellow;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  ion-icon {
    color: $primary-yellow;
  }
}

.btn-back {
  gap: 10px;
  display: flex;
  margin-top: 15px;
  align-items: center;
  margin-bottom: 0px;
  background-color: transparent;
  border: none;
  width: 40%;
  flex-direction: row;
  justify-content: flex-start;

  p {
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 700;
    font-family: $font-family;
  }
}

.btn-back:hover {
  background-color: transparent;
  color: $hover-yellow;
  box-shadow: none;
}

.user-address {
  margin-top: 1em;
  margin-bottom: 1em;
  gap: 3px;
  max-height: 120px;
  min-height: 80px;
  display: flex;
  font-family: $font-family;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid #151515;
  color: #8d2516;
  background-color: #fab222;

  h1 {
    font-weight: 700;
    font-size: 1em;
  }
  p {
    font-weight: 900;
    font-size: 25px;
    justify-content: center;
  }
}

.main-container-pay {
  padding: 1em 2em;
  height: 100%;

  .header-pay-section {
    margin-top: 1.1em;
    margin-bottom: 1.5em;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;

    .pay-title {
      text-align: left;
      font-size: 2.2em;
      font-weight: 900;
      font-family: $font-family;
      color: $text-dark;
      margin: 0;
    }

    img {
      width: 6em;
      height: auto;
      object-fit: contain;
    }
  }

  .header-subtitle-section {
    display: flex;
    margin-bottom: 1em;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h1 {
      margin: 0;
      font-family: $font-family;
      font-size: 1em;
      font-weight: 700;
    }

    button.add-card-btn {
      background-color: $primary-red;
      color: $white;
      border-radius: 10px;
      width: 2em;
      height: 2em;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      ion-icon {
        font-size: 1.2em;
      }
    }
  }

  .item-label {
    flex-grow: 1;
    padding: 0 1em;

    h2 {
      margin: 0;
      font-size: 1em;
      font-family: $font-family;
      font-weight: 700;
      color: $text-dark;
    }

    p {
      margin: 0;
      font-size: 0.9em;
      color: $light-gray;
    }
  }
}

.pay-summary {
  width: 100%;
  display: flex;
  gap: 1em;
  padding: 1em 0 5em 0;
  border-radius: 10px;
  background: transparent;
  flex-direction: column;
  flex-wrap: nowrap;

  .summary-left {
    display: flex;
    flex-direction: column;

    .summary-title {
      font-family: $font-family;
      font-size: 1em;
      font-weight: 500;
      color: $text-dark;
    }

    .summary-amount {
      font-size: 2.2em;
      font-family: $font-family;
      font-weight: 900;
      color: $color-dark;
    }
  }

  .summary-right {
    display: flex;

    .checkout-btn {
      padding: 0.7em 1em;
      border-radius: 5px;
      width: 100%;
      font-family: $font-family;
      font-weight: 900;
      font-size: 1.3em;
      background-color: $primary-red;
      color: $primary-yellow;
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  border-radius: 12px;
  padding: 30px;
  width: 90%;
  max-width: 400px;
  text-align: center;

  h2 {
    margin: 0;
    margin-bottom: 15px;
    font-family: $font-family;
    font-weight: 900;
  }
}

.modal-content img {
  max-width: 13em;
  margin-top: 20px;
  margin-bottom: 15px;
}

.stripe-element {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 6px;
}

.modal-actions button {
  margin: 0;
  margin-bottom: 10px;
  gap: 10px;
  border-radius: 10px;
  width: 100%;
}

.saved-card {
  background: #f1f1f1;
  padding: 5px 10px;
  border-radius: 6px;
  margin: 4px 0;
}

.form-field {
  margin-bottom: 20px;
}

button.save-btn-target {
  background-color: $primary-red;
  color: $primary-yellow;
}
.payment-method {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 10px;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

  .method-icon {
    border-radius: 100px;
    width: 50px;
    height: auto;
  }

  .method-label {
    flex-grow: 1;
    font-weight: 700;
    font-family: $font-family;
    padding-left: 1em;
  }

  .custom-radio {
    width: 20px;
    height: 20px;
    border: 2px solid $primary-yellow;
    border-radius: 50%;
    position: relative;
  }

  .custom-radio.selected {
    border-color: $primary-red;
  }

  .custom-radio.selected::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: $primary-red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  .delete-btn {
    background: $primary-red;
    color: $white;
    font-weight: 900;
    font-size: 1.2em;
    border: 3px SOLID $color-dark;
    margin-right: 1em;
    border-radius: 10px;
    padding: 0.2em 0.4em;
    display: flex;
    width: 40px;
    align-items: center;
    justify-content: center;
  }

  .delete-btn ion-icon {
    font-size: 1.1em;
  }

  .delete-btn:hover {
    background: darkred;
  }
}
